*{
    margin: 0;
    padding: 0;
}

.title{
    
    width: 100%;
    height: 35vh;
    box-sizing: border-box;
    background-color: rgb(43, 43, 43);
    
}

.header{
    
    text-align: center;
    font-size: 30px;
    padding-top: 10%;
    color: rgb(163, 141, 87);
}

.subtext{
    text-align: center;
    font-size: 19px;
    color: aliceblue;
}

.images{
    width: 100%;
    height: 45vh;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 43, 43);
}

.villa-button{
    border-radius: 20px;
    height: 150px;
    width: 300px;
    background-color: bisque;
}